.book.font-family-1 {
  font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
  box-shadow: 1px 1px 1px #cccccc;
}

a code {
  white-space: inherit;
  box-shadow: 1px 1px 1px #cccccc;
}

li code {
  white-space: inherit;
  box-shadow: 1px 1px 1px #cccccc;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal hr {
  height: 1px;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  box-shadow: 1px 1px 3px 1px #cccccc;
  background-color: #ebf0fa;
}

.book .book-body .page-wrapper .page-inner section.normal pre.sourceCode {
  border: 1px outset #999999;
  box-shadow: none;
  background-color: #f2f2f2;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  padding: .1em;
}

.header-section-number {
  color: #a7a7a7;
}

.footnotes {
  font-size: 12px;
}

.book .book-body .page-wrapper .page-inner section.normal .title {
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  border-bottom: none;
}

.book .book-body .page-wrapper .page-inner section.normal .author {
  text-align: center;
  font-size: 50px;
  line-height: 50px;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  border-bottom: 1px solid #eaecef;
  font-size: 3em;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  border-bottom: 1px solid #eaecef;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
  border-bottom: 1px solid #eaecef;
}
